# .gitignore
**/node_modules/
**/__pycache__/
**/*.log
**/*.env
**/.venv

# Ignore specific resume PDF and its Zone.Identifier
client/public/Emmanuel Pedroza - Resume.pdf
client/public/Emmanuel Pedroza - Resume.pdf:Zone.Identifier